/rungenapp/genapp.log
/rungenapp/lastconfig.properties
/instanciagenerica-model/.classpath
/instanciagenerica-model/.project
/instanciagenerica-model/.settings/org.eclipse.core.resources.prefs
/instanciagenerica-model/.settings/org.eclipse.jdt.core.prefs
/instanciagenerica-model/.settings/org.eclipse.m2e.core.prefs
/instanciagenerica-persistence/.classpath
/instanciagenerica-persistence/.project
/instanciagenerica-persistence/.settings/org.eclipse.core.resources.prefs
/instanciagenerica-persistence/.settings/org.eclipse.jdt.core.prefs
/instanciagenerica-persistence/.settings/org.eclipse.jpt.core.prefs
/instanciagenerica-persistence/.settings/org.eclipse.m2e.core.prefs
/instanciagenerica-persistence/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
/instanciagenerica-persistence/.settings/org.eclipse.wst.common.project.facet.core.xml
/instanciagenerica-ejb/.classpath
/instanciagenerica-ejb/.project
/instanciagenerica-ejb/.settings/org.eclipse.core.resources.prefs
/instanciagenerica-ejb/.settings/org.eclipse.jdt.core.prefs
/instanciagenerica-ejb/.settings/org.eclipse.m2e.core.prefs
/instanciagenerica-ejb/.settings/org.eclipse.wst.common.component
/instanciagenerica-ejb/.settings/org.eclipse.wst.common.project.facet.core.xml
/instanciagenerica-ejb/.settings/org.eclipse.wst.validation.prefs
/instanciagenerica-commons/.classpath
/instanciagenerica-commons/.project
/instanciagenerica-commons/.settings/org.eclipse.core.resources.prefs
/instanciagenerica-commons/.settings/org.eclipse.jdt.core.prefs
/instanciagenerica-commons/.settings/org.eclipse.m2e.core.prefs
/instanciagenerica-back/.classpath
/instanciagenerica-back/.project
/instanciagenerica-back/.settings/.jsdtscope
/instanciagenerica-back/.settings/org.eclipse.core.resources.prefs
/instanciagenerica-back/.settings/org.eclipse.jdt.core.prefs
/instanciagenerica-back/.settings/org.eclipse.m2e.core.prefs
/instanciagenerica-back/.settings/org.eclipse.wst.common.component
/instanciagenerica-back/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
/instanciagenerica-back/.settings/org.eclipse.wst.common.project.facet.core.xml
/instanciagenerica-back/.settings/org.eclipse.wst.jsdt.ui.superType.container
/instanciagenerica-back/.settings/org.eclipse.wst.jsdt.ui.superType.name
/instanciagenerica-back/.settings/org.eclipse.wst.validation.prefs
/doc/(CAT) Manual Instal.lació InstanciaGenerica.odt
/back.bat
/instanciagenerica-back/src/main/resources/genapp_ca.properties
/instanciagenerica-back/src/main/resources/genapp_en.properties
/instanciagenerica-back/src/main/resources/genapp_es.properties
/instanciagenerica-back/src/main/resources/instanciagenerica_genapp_ca.properties
/instanciagenerica-back/src/main/resources/instanciagenerica_genapp_es.properties
/instanciagenerica-back/src/main/resources/logicmissatges_ca.properties
/instanciagenerica-back/src/main/resources/logicmissatges_en.properties
/instanciagenerica-back/src/main/resources/logicmissatges_es.properties
target
/instanciagenerica-back/src/main/webapp/img/app-logo2.png
